#carousel {
    position: relative;
    /* left: 0; */
    /* right: 0; */
    /* top: 275px; */
    /* bottom: 0; */
    /* height: 20%; */
    /* margin: auto; */
    width: 70%;
    /* display: flex; */
    margin-left: 8%;
}

.svg {
    text-align: center;
    cursor: pointer;
    transition: all 1s;
    position: absolute;
    width: 80px;
}

.level-1 {
    left: 100%;
}

.level0 {
    left: 50%;
}

.level1 {
    left: 0%;
}

.svg p {
    margin-top: 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    color: darkgray;
    transition: all 0.3s;
    line-height: 1.2;
}
.svg img {
    width: 35px;
    filter: opacity(50%);
    transition: all 0.3s;
}

.level0 p{
    font-size: 12px;
    color: #355476;
}
.level0 img{
    width: 70px;
    filter: invert(0.4) sepia(1) saturate(8) hue-rotate(200.4deg) brightness(0.43);
}
@media (hover: hover) {
    .svg:hover img {
        filter: invert(0.4) sepia(1) saturate(4) hue-rotate(158.4deg) brightness(0.93);
    }
    .svg:hover p {
        color: #4db2ec;
    }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    #carousel {
        margin-left: 3%;
    }
    .level0 {
        left: 51%;
    }
}
@media (min-width: 991.98px) { 
    .containerMenu {
        width: 40%;
    }
 }
 .item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .item-leave {
    opacity: 1;
  }
  .item-leave-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }