.recos {
    margin-top: 4% !important;
    margin: 0 auto;
}

.recos h3 {
    text-align: center;
}

.reco-name {
    text-align: center;
    font-weight: 700;
    font-size: 10px;
}

.reco-img {
    width: 30%;
    /* margin: 0 auto; */
    margin: 0 35%;
}

@media (max-width: 575.98px) {
    h3 {
        font-size: 15px;
    }
    .reco-img  {
        width: 70%;
        margin: 0 15%;
    }
 }