p.ver {
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    margin: 0 auto;
    padding: 20px 0px;
}
.leyendae{
    margin-top: 14%;
}
.arrowTop{
    position: relative;
    width: 2px;
    height: 50px;
    background: #4db2ec;
    margin-left: 10px;
    margin-right: 10px;
}
   
   .arrowTop:before, .arrowTop:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: -4px;
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;  
    }
    .arrowTop:after {
    border-bottom: 5px solid #4db2ec;
    top: -5px;
    z-index: 2;
    }
    
   .arrowTop:before {
    border-bottom: 5px solid #4db2ec;
    top: -5px;
    z-index: 1;
    }
    .arrowBottom{
        position: relative;
        width: 2px;
        height: 50px;
        background: #4db2ec;
        margin-left: 10px;
        margin-right: 10px;
    }
    .arrowBottom:before, .arrowBottom:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        left: -4px;
        content: " ";
        position: absolute;
        display: block;
        width: 0;
        height: 0;   
        }
        .arrowBottom:after {
        border-top: 5px solid #4db2ec;
        bottom: -5px;
        z-index: 2;
        }
        .arrowBottom:before {
        border-top: 5px solid #4db2ec;
        bottom: -5px;
        z-index: 1;
        }
.evidencia-line {
    text-align: center;
    text-transform: uppercase;
    color: #a5a5a5
}
.evidencia-line:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 2px solid #3554766b;
    border-top-style: dotted;
    z-index: 0;
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
}
#evidencias {
    width: 100%
}

.board {
    height: auto;
    padding: 130px 0 0;
    margin: 7% auto;
    margin-bottom: 0% !important;
    display: flex;
    flex-flow: row;
}

.plus {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minus {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 575.98px) { 
    .leyendae {
        margin-top: 21%;
    }
    p.ver {
        font-size: 10px;
    }
    .arrowBottom {
        width: 2px;
        height: 16px;
    }
    .arrowTop {
        width: 2px;
        height: 16px;
    }

}