.leyendcontent {
    position: relative;
    transition: all .3s ease-in-out;
    text-align: end;
    padding-right: 10%;
}
.leyendcontent--hidden {
    bottom: -50px;
}
.icons {
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}
.fas {
    font-size: 10px;
}
.rounded {
    border-radius: 25px !important;
    margin: 0 3px;
    border: 2px solid #4db2ec;
    background-color: #4db2ec;
}

.r1 {
    width: 5px;
    height: 5px;
}

.r2 {
    width: 10px;
    height: 10px;
}

.r3 {
    width: 15px;
    height: 15px;
}

.r4 {
    width: 20px;
    height: 20px;
}

.extra-text {
    font-size: 10px;
    padding-left: 10%;
}

.extra-text p {
    margin-bottom: 0;
}


@media (max-width: 575.98px) { 
    .extra-text {
        font-size: 8px;
    }
    .r1 {
        width: 1px;
        height: 1px;
    }
    
    .r2 {
        width: 6px;
        height: 6px;
    }
    
    .r3 {
        width: 11px;
        height: 11px;
    }
    
    .r4 {
        width: 16px;
        height: 16px;
    }
    .leyendcontent label {
        font-size: 13px;
    }
}