.sharedbtn {
    background-color: darkgray;
    border: none;
    width: 265px;
    margin: 2px;
}
.sharedbtn:focus {
    box-shadow: none !important;
}

.fb:hover, .fb:focus {
    background-color: #3b5998
}

.tw:hover, .tw:focus {
    background-color: #55acee;
}

.pt:hover, .pt:focus {
    background-color: #bd081c;
}