.loader {
    filter: invert(0.4) sepia(1) saturate(4) hue-rotate(158.4deg) brightness(0.93);
    width: 25px;
}

.evidenceI {
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.evidenceI .row {
    justify-content: center;
}

.suplements {
    border-radius: 100px !important;
    background-color: #e2e2e2;
    text-align: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition: all cubic-bezier(0.42, 0, 0, 0.94) 1s;
    animation-duration: .3s;
  animation-name: slidein;
}

.suplements:hover {
    transform: scale(1.2);
}
.suplements p {
    text-align: center;
    margin: 0 auto;
    word-wrap: break-all;
    font-size: 10px;
    font-weight: 700;
}

.p1 {
    width: 170px;
    height: 170px;
}
.p2 {
    width: 145px;
    height: 145px;
}
.p3 {
    width: 120px;
    height: 120px;
}
.p4 {
    width: 95px;
    height: 95px;
}

.shop {
    width: 100%;
    margin-top: 20px;
}

.post {
    font-weight: 700;
    cursor: pointer;
}
.post:hover {
    transition: all ease .2s;
    color: #4db2ec;
}
.product-img {
    width: 50%;
    margin: 0 25%;
}
.price {
    font-weight: 700;
    font-size: 29px;
    margin-bottom: 0;
}
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .p1 {
        width: 100px;
        height: 100px;
    }
    .p2 {
        width: 80px;
        height: 80px;
    }
    .p3 {
        width: 60px;
        height: 60px;
    }
    .p4 {
        width: 40px;
        height: 40px;
    }
    .suplements p {
        font-size: 9px;
        word-break: break-word;
    }
    .suplements.p3 p {
        font-size: 8px;
        word-break: break-word;
    }
    .suplements.p4 p {
        font-size: 6px;
        word-break: break-word;
    }
    .suplements {
        margin: 0 -1px;
    }
 }


 @keyframes slidein {
    from {
        transform: scale(0);
    }
  
    to {
        transform: scale(1);
    }
  }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .p1 {
        width: 90px;
        height: 90px;
    }
    .p2 {
        width: 70px;
        height: 70px;
    }
    .p3 {
        width: 50px;
        height: 50px;
    }
    .p4 {
        width: 30px;
        height: 30px;
    }
    .suplements p {
        font-size: 9px;
        word-break: break-word;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .p1 {
        width: 125px;
        height: 125px;
    }
    .p2 {
        width: 100px;
        height: 100px;
    }
    .p3 {
        width: 75px;
        height: 75px;
    }
    .p4 {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .p1 {
        width: 125px;
        height: 125px;
    }
    .p2 {
        width: 100px;
        height: 100px;
    }
    .p3 {
        width: 75px;
        height: 75px;
    }
    .p4 {
        width: 50px;
        height: 50px;
    }
    .p4 p {
        font-size: 7px;
    }
}