.menu-footer {
    height: 27px;
    width: 100%;
    background-color: #040D20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

.menu-footer div {
    display: flex
}

.menu-footer div div {
    margin: 0 auto
}

.menu-footer ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.menu-footer ul li {
    float: left;
}

.menu-footer ul li a {
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    
}
.menu-footer span a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-footer {
        visibility: visible;
        flex-direction: column-reverse;
        text-align: center;
        height: auto;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .menu-footer {
        visibility: visible;
        flex-direction: column-reverse;
        text-align: center;
        height: auto;
    }
    .menu-footer li a{
        padding: 6px;
        font-size: 8px !important;
    }

}

@media (max-width: 575px) {
    .menu-footer {
        visibility: visible;
        flex-direction: column-reverse;
        text-align: center;
        height: auto;
        padding: 0px;
    }
    .menu-footer ul {
        margin: 0 auto;
    }
    .menu-footer li a{
        padding: 6px;
        font-size: 8px !important;
    }
}

@media (max-width: 330px) {
    .menu-footer {
        visibility: visible;
        flex-direction: column-reverse;
        text-align: center;
        height: auto;
        padding: 0px;
    }
    .menu-footer ul {
        margin: 0 auto;
    }
    .menu-footer li a{
        padding: 6px;
        font-size: 8px !important;
    }
}