.fondo {
  background-image: url('../src/assets/img/SuplementosDeportivosBG.jpg');
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.toup {
  position: fixed;
  bottom: 55px;
  right: 8%;
  -webkit-transition: all .3 ease;
  transition: all .3s ease-in-out;
}
.toup--hidden {
  bottom: -50px;
}

.toup button {
  border-radius: 30px
}

.toup button i {
  font-size: 14px;
}

@media (max-width: 768px) { 
  .fondo {
    background-image: none
  }
}
