@font-face {
  font-family: "Mona-Sans-ExtraBold";
  src: url("assets/fonts/Mona-Sans-ExtraBold.otf");
}

@font-face {
  font-family: "Mona-Sans-Regular";
  src: url("assets/fonts/Mona-Sans-Regular.otf");
}

body {
  margin: 0;
  font-family: 'Mona-Sans-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5 {
  font-family: 'Mona-Sans-ExtraBold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.h1, .h2, .h3, .h4, .h5 {
  font-family: 'Mona-Sans-ExtraBold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p, a, li, span, b, div, input, label, .btn, text {
  font-family: 'Mona-Sans-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn-primary {
  background-color: #0156f2 !important;
  border-color: #0156f2 !important;
}

html, body{
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
